<h3>Actors</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>

    <% @actors.each do |actor| %>
      <tr>
        <td><a href="/actors/<%= actor['id'] %>"><%= actor['name'] %></a></td>
      </tr>
    <% end %>

  </tbody>
</table>
